

.image{
    width: 15rem;
    height: 15rem;
}

.card_cont{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    margin: 5px;
    background-color: #f9f9f9;
    border: 3px solid #caf337;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}
